[Unit]
Description=The Shoreline IPv4 Firewall
After=network.target

# web1.bohmeyer-schuster.com has no firewall currently
ConditionHost=!b582172e41e1f878377b100c513cbcea

[Service]
Type=oneshot
ExecStart=/sbin/shorewall start
ExecStartPost=-/usr/lib/systemd/systemd-sysctl
ExecReload=/sbin/shorewall restart
ExecStop=/sbin/shorewall stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
