ForwardAgent yes
ForwardX11Trusted yes
HashKnownHosts no

# gentoo
Host *.gentoo.org
	User hollow

Host cvs.gentoo.org
	User hollow
	ControlMaster auto
	ControlPath ~/.ssh/master-%r@%h:%p

Host *.gentoo-ev.org
	User hollow
	AddressFamily inet

Host linux-vserver.org
	User hollow
