ForwardAgent yes
ForwardX11Trusted yes
HashKnownHosts no

# gentoo
Host *.gentoo.org
	User hollow

Host cvs.gentoo.org
	User hollow
	ControlMaster auto
	ControlPath ~/.ssh/master-%r@%h:%p

Host *.gentoo-ev.org
	User hollow
	AddressFamily inet

Host linux-vserver.org
	User hollow

# madvertise
Host *.madvertise.net *.madvertise.me madvertise.me
	User bene

# ds
Host *.subma.net www.dmf-ms.de
	User boehm

# newthinking
Host *.newthinking.net
	User bbo

# itratos
Host *.itratos.net
	User bene

# zenops
Host *.zenops.net
	User bene

# private
Host *.xnull.de
	User bene
